In [1]:
import numpy as np

In [2]:
employee_info = [("name","S10"),("salary","f8"),("age","i8")]

In [3]:
print (employee_info)

[('name', 'S10'), ('salary', 'f8'), ('age', 'i8')]

In [4]:
employee_staff = np.zeros((3) , dtype = employee_info)

In [5]:
employee_staff

array([(b'', 0., 0), (b'', 0., 0), (b'', 0., 0)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [6]:
employee_staff[0] = ("Yasir", 1200 , 35)

In [7]:
employee_staff[1] = ("Hussein", 1350 , 69)

In [8]:
employee_staff

array([(b'Yasir', 1200., 35), (b'Hussein', 1350., 69), (b'',    0.,  0)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [9]:
employee_staff[2] = ("shakir", 1400 , 56)

In [10]:
print(employee_staff)

[(b'Yasir', 1200., 35) (b'Hussein', 1350., 69) (b'shakir', 1400., 56)]

In [11]:
employee_staff

array([(b'Yasir', 1200., 35), (b'Hussein', 1350., 69),
       (b'shakir', 1400., 56)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [12]:
employee_staff[0:]

array([(b'Yasir', 1200., 35), (b'Hussein', 1350., 69),
       (b'shakir', 1400., 56)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [13]:
employee_staff[1:]

array([(b'Hussein', 1350., 69), (b'shakir', 1400., 56)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [14]:
print(employee_staff[1:])

[(b'Hussein', 1350., 69) (b'shakir', 1400., 56)]

In [15]:
print(employee_staff["age"])

[35 69 56]

In [16]:
print(employee_staff["salary"])

[1200. 1350. 1400.]

In [17]:
print(employee_staff["name"])

[b'Yasir' b'Hussein' b'shakir']

In [18]:
print(employee_staff[1:]["age"])

[69 56]

In [19]:
print(employee_staff[2:]["name"])

[b'shakir']

In [24]:
print(employee_staff["salary"]+ 2000)

[3200. 3350. 3400.]

In [25]:
print(employee_staff["age"]+ 2)

[37 71 58]

In [31]:
employee_staff

array([(b'Yasir', 1200., 35), (b'Hussein', 1350., 69),
       (b'shakir', 1400., 56)],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [33]:
all_employee = np.zeros((4,3,2), dtype=employee_info)

In [34]:
all_employee

array([[[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]],

       [[(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)],
        [(b'', 0., 0), (b'', 0., 0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [38]:
all_employee["age"]

array([[[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]],

       [[0, 0],
        [0, 0],
        [0, 0]]], dtype=int64)

In [39]:
all_employee["salary"]

array([[[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.],
        [0., 0.]]])

In [40]:
all_employee["name"]

array([[[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']]], dtype='|S10')

In [43]:
all_employee[0,0,1] = ("yasir " ,3000,35)

In [44]:
all_employee

array([[[(b'',    0.,  0), (b'yasir ', 3000., 35)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [45]:
all_employee[1,2,1] = ("Huaasein " ,400,30)

In [46]:
all_employee

array([[[(b'',    0.,  0), (b'yasir ', 3000., 35)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'Huaasein ',  400., 30)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [47]:
all_employee[2,2,0] = ("ammar " ,700,18)

In [48]:
all_employee

array([[[(b'',    0.,  0), (b'yasir ', 3000., 35)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'Huaasein ',  400., 30)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'ammar ',  700., 18), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [49]:
all_employee[2,2,1] = ("ali " ,1200,45)

In [50]:
all_employee

array([[[(b'',    0.,  0), (b'yasir ', 3000., 35)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'Huaasein ',  400., 30)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'ammar ',  700., 18), (b'ali ', 1200., 45)]],

       [[(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)],
        [(b'',    0.,  0), (b'',    0.,  0)]]],
      dtype=[('name', 'S10'), ('salary', '<f8'), ('age', '<i8')])

In [51]:
all_employee['name']

array([[[b'', b'yasir '],
        [b'', b''],
        [b'', b'']],

       [[b'', b''],
        [b'', b''],
        [b'', b'Huaasein ']],

       [[b'', b''],
        [b'', b''],
        [b'ammar ', b'ali ']],

       [[b'', b''],
        [b'', b''],
        [b'', b'']]], dtype='|S10')

In [52]:
all_employee['salary']

array([[[   0., 3000.],
        [   0.,    0.],
        [   0.,    0.]],

       [[   0.,    0.],
        [   0.,    0.],
        [   0.,  400.]],

       [[   0.,    0.],
        [   0.,    0.],
        [ 700., 1200.]],

       [[   0.,    0.],
        [   0.,    0.],
        [   0.,    0.]]])

In [53]:
all_employee['age']

array([[[ 0, 35],
        [ 0,  0],
        [ 0,  0]],

       [[ 0,  0],
        [ 0,  0],
        [ 0, 30]],

       [[ 0,  0],
        [ 0,  0],
        [18, 45]],

       [[ 0,  0],
        [ 0,  0],
        [ 0,  0]]], dtype=int64)

In [55]:
all_employee[['age','name']]

array([[[( 0, b''), (35, b'yasir ')],
        [( 0, b''), ( 0, b'')],
        [( 0, b''), ( 0, b'')]],

       [[( 0, b''), ( 0, b'')],
        [( 0, b''), ( 0, b'')],
        [( 0, b''), (30, b'Huaasein ')]],

       [[( 0, b''), ( 0, b'')],
        [( 0, b''), ( 0, b'')],
        [(18, b'ammar '), (45, b'ali ')]],

       [[( 0, b''), ( 0, b'')],
        [( 0, b''), ( 0, b'')],
        [( 0, b''), ( 0, b'')]]],
      dtype={'names':['age','name'], 'formats':['<i8','S10'], 'offsets':[18,0], 'itemsize':26})

# Good luck